<div class="hero">
<br>

<div class="container white z-depth-1">

  <div class="center-align">
  <div class="row">
  <div class="col s12 #eeeeee z-depth-1">
    <h4><span class="bolder"><span class="greenit">WELCOME TO FARM HAND!</span></span></h4>
  </div>
  </div>

  <br>
  <h6>
  <span class="greenit">
  What do you want to work on?
  </span>
  </span>
  </h6>
  <br>

  <div class="row">
    <a href="eggs.html" class="waves-effect orange btn-large"><i class="material-icons left">group_work</i>Eggs</a>

    <a href="animals.html" class="waves-effect brown btn-large"><i class="material-icons left">assignment</i>Animals</a>
  </div>

  <div class="row">
  <a href="incomes" class="waves-effect light-blue btn-large"><i class="material-icons left">trending_up</i>Income</a>

  <a href="expenses" class="waves-effect red btn-large"><i class="material-icons left">trending_down</i>Expense</a>
  </div>

  <div class="row">
    <a href="analyze.html" class="waves-effect grey btn-large"><i class="material-icons left">equalizer</i>Trends</a>
  </div>
<br>
<br>

</div>
</div>
