<br/>
<div class="container white z-depth-1">
  <div class="center-align">
    <div class="row">
      <div class="col s12 grey z-depth-1">
        <span class="whiteit-title">ANALYZE PRODUCTION TRENDS</span>
      </div>
    </div>
  </div>
  <div class="container">
  <br>
    <div class="input-field col s12 grey lighten-3 ">
    <br>
      <% @eggs.each do |egg| %>
      <h3><%= egg.id %><small><%= egg.created_at.strftime('%D') %></small></h3>
        <ul>
          <% egg.attributes.each do |key, value| %>
          <li> <%= [key, value.to_i].join(', ') %> </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
<br>
