<%= form_for :income do |f| %>

  <div class="input-field col s12 ">
    <%= f.label "TYPE OF EGGS SOLD" %>
    NEEDS TO GO HERE
  </div>

  <div class="input-field col s12">
    <%= f.label "$ Amount" %>
    NEEDS TO GO HERE
    <br>
  </div>

  <%= f.submit 'ENTER SALE', :class => 'willbtn-submit-inc' %>

  <% end %>



