

<!-- GET INCOMES TO ADD NEW RECORD, NOT OVERWRITE EXISTING -->
<br>
<div class="container white z-depth-1">
  <div class="center-align">
    <div class="row">
      <div class="col s12 light-blue z-depth-1">
        <span class="whiteit-title">ENTER EGG SALE</span>
      </div>
    </div>
  </div>
  <div class="container">
  <br>
    <div class="input-field col s12 grey lighten-3 ">
    <br>
      <div class="row">

        <!-- SPACER COLUMN -->
        <span class="make-invisible col s3">.</span>

        <!-- EXPENSE ENTRY PARTIAL -->
        <div class="col s6">
          <%= render(:partial => "incomes/form_income") %>
        </div>
      </div>

    </div>
  </div>
  <br>
</div>
<br>
<br>
<!-- EXPENSES LEDGER -->
<div class="container white z-depth-1">
    <div class="center-align">
      <div class="row">
        <div class="col s12 light-blue z-depth-1">
          <span class="whiteit-title">INCOME LEDGER</span>
        </div>
      </div>
    </div>
    <div class="inventory-box">
      <div class="col 12">
        <div class="row">
          <table class="bordered responsive">
            <thead>
              <tr>
                <th>Date</th>
                <th>EGG TYPE</th>
                <th>QUANTITY</th>
                <th>SALE AMOUNT</th>
                <th>DELETE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>07/14/15</td>
                <td>Chicken: Light Brown</td>
                <td>12</td>
                <td>$6</td>
                <td>
                  <span class="willbtn-delete">Delete</span>
                </td>
              </tr>
              <tr>
                <td>07/14/15</td>
                <td>Duck</td>
                <td>6</td>
                <td>$18</td>
                <td>
                  <span class="willbtn-delete">Delete</span>
                </td>
              </tr>
              <tr>
                <td>07/14/15</td>
                <td>Chicken: Dark Brown</td>
                <td>12</td>
                <td>$6</td>
                <td>
                  <span class="willbtn-delete">Delete</span>
                </td>
              </tr>
              <tr>
                <td>07/14/15</td>
                <td>Chicken: White</td>
                <td>12</td>
                <td>$6</td>
                <td>
                  <span class="willbtn-delete">Delete</span>
                </td>
              </tr>
              <tr>
                <td>07/14/15</td>
                <td>Chicken: Light Brown</td>
                <td>6</td>
                <td>$3</td>
                <td>
                  <span class="willbtn-delete">Delete</span>
                </td>
              </tr>
              <tr>
                <td>07/07/15</td>
                <td>Quail</td>
                <td>12</td>
                <td>$10</td>
                <td>
                  <span class="willbtn-delete">Delete</span>
                </td>
              </tr>
              <tr>
                <td>07/07/15</td>
                <td>Chicken: Light Brown</td>
                <td>12</td>
                <td>$6</td>
                <td>
                  <span class="willbtn-delete">Delete</span>
                </td>
              </tr>
              <tr>
                <td>07/07/15</td>
                <td>Chicken: White</td>
                <td>12</td>
                <td>$6</td>
                <td>
                  <span class="willbtn-delete">Delete</span>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
