

<!-- GET INCOMES TO ADD NEW RECORD, NOT OVERWRITE EXISTING -->

<br>
<div class="container white z-depth-1">
  <div class="center-align">
    <div class="row">
      <div class="col s12 light-blue z-depth-1">
        <span class="whiteit-title">ENTER EGG SALE</span>
      </div>
    </div>
  </div>

  <div class="container">
  <br>
  <br>
    <div class="row">

    <!-- SPACER COLUMN -->
      <span class="make-invisible col s3">.</span>

      <!-- EXPENSE ENTRY PARTIAL -->
      <div class="col s6">
        <%= render(:partial => "incomes/form_income") %>
      </div>

    </div>
    <br>
  </div>
</div>
<br>
<br>

<!-- EXPENSES LEDGER -->
  <div class="container white z-depth-1">
    <div class="center-align">
      <div class="row">
        <div class="col s12 light-blue z-depth-1">
          <span class="whiteit-title">INCOME LEDGER</span>
        </div>
      </div>
    </div>
    ENTRIES HERE CURRENTLY OVER-WRITE EACH OTHER :(
    <div class="inventory-box">
      <div class="col 12">
        <div class="row">
          <table class="bordered responsive">
            <thead>
              <tr>
                <th>DATE</th>
                <th>EGG TYPE</th>
                <th>QUANTITY</th>
                <th>SALE AMOUNT</th>
                <th>DELETE</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><%= @income.last.created_at.strftime("%D") %></td>
                <td>egg type needs to go here</td>
                <td>number of eggs sold needs to go here</td>
                <td>sale amount needs to go here</td>
                <td>delete button needs to go here</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<br>
