
@import 'materialize';
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);

html {
    font-family: 'Bitter', serif;
  }

footer {
position: fixed;
left: 0px;
bottom: 0px;
width: 100%;
color: white;
text-align: center;
}

.hero {
  background-image: image-url('eggs5.jpg');
  background-position: center;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

.green-button {
  background-color: light-green;
  padding: 15px;
}

.mysubmitbutton {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: light-green;
  padding: 15px;
}

.make-semi-transparent {
  background-color: RGBA(255, 255, 255, .7)
}

.make-invisible {
  color: white;
}

.centerize-field {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.inventory-box {
  padding: 40px;
}

.nudgeit {
  margin-left: 40px;
}

.greenit-title {
  color: #8CC252;
  font-weight: bold;
  text-align: center;
  font-size: 32px;
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: 1.2rem * (1 + (.02 * $i));
    }
    $i: $i + 1;}
}

.greenit-sub {
  color: #8CC252;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.whiteit-title {
  color: white;
  font-weight: bold;
  font-size: 32px;
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: 1.2rem * (1 + (.02 * $i));
    }
    $i: $i + 1;}
  }

.whiteit-sub {
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.blackit-title {
  color: black;
  font-weight: bold;
  font-size: 32px;
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: 1.2rem * (1 + (.02 * $i));
    }
    $i: $i + 1;}
}

.blackit-sub {
  color: black;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.bottom-text {
  background-color: #8CC252;
  color: white;
  padding: 10px;
  height: 40px;
  font-size: 12px;
  text-align: center;
}

.transit {
  opacity: 0.4;
}

.sample-graph {
  max-width: 600px;
}

.logo-format {
  margin-left: 40px;
  font-size: 24px;
}

.farm-nav {
  height: 64px;
  width: 100%;
  background-color: light-green;
}
