

<!-- GET EXPENSES TO ADD NEW RECORD, NOT OVERWRITE EXISTING -->

<br>
<div class="container white z-depth-1">
  <div class="center-align">
    <div class="row">
      <div class="col s12 red z-depth-1">
        <span class="whiteit-title">ENTER EXPENSE</span>
      </div>
    </div>
  </div>

  <div class="container">
  <br>
  <br>
    <div class="row">

    <!-- SPACER COLUMN -->
      <span class="make-invisible col s3">.</span>

      <!-- EXPENSE ENTRY PARTIAL -->
      <div class="col s6">
        <%= render(:partial => "expenses/form_expense") %>
      </div>

    </div>
    <br>
  </div>
</div>
<br>
<br>

<!-- EXPENSES LEDGER -->
  <div class="container white z-depth-1">
    <div class="center-align">
      <div class="row">
        <div class="col s12 red z-depth-1">
          <span class="whiteit-title">EXPENSE LEDGER</span>
        </div>
      </div>
    </div>
    ENTRIES HERE CURRENTLY OVER-WRITE EACH OTHER :(
    <div class="inventory-box">
      <div class="col 12">
        <div class="row">
          <table class="bordered responsive">
            <thead>
              <tr>
                <th>Date</th>
                <th>Expense</th>
                <th>Amount</th>
                <th>Delete</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><%= @expense.last.created_at.strftime("%D") %></td>
                <td><%= @expense.name %></td>
                <td>$ AMOUNT NEEDS TO GO HERE</td>
                <td>
                  <%= button_to "Delete", "income/:id", method: :delete, data: { confirm: 'Are you sure?' },  :class => 'willbtn-delete' %>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<br>
