
<footer class="page-footer light-green">Farm Hand was created by <a href="http://www.linkedin.com/in/willjsherman">Will Sherman</a> for his friend Francesca, owner of <a href="http://www.whirlawayatx.com/">Whirlaway Farms</a>
</footer>
