  <nav>
    <div class="nav-wrapper col s12 light-green">
      <a href="#!" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="users.html"><i class="material-icons">store</i></a></li>
        <li><a href="eggs.html"><i class="material-icons">group_work</i></a></li>
        <li><a href="collapsible.html"><i class="material-icons">assignment</i></a></li>
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>
