  <nav>
    <div class="nav-wrapper col s12 light-green">
      <a href="#!" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="users.html"><i class="material-icons">store</i></a></li>
        <li><a href="farms.html"><i class="material-icons">equalizer</i></a></li>
        <li><a href="eggs.html"><i class="material-icons">group_work</i></a></li>
        <li><a href="animals.html"><i class="material-icons">assignment</i></a></li>
        <li><a href="incomes.html"><i class="material-icons">trending_up</i></a></li>
        <li><a href="expenses.html"><i class="material-icons">trending_down</i></a></li>
      </ul>
    </div>
  </nav>
